[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
pillow = "*"
gym = "*"
atari-py = ">=0.1.1"
visdom = "*"
numpy = "*"
"fabric3" = "*"
"lz4" = "*"
"boto3" = "*"
pyyaml = "*"
"torch" = "*"

[dev-packages]

[requires]
python_version = "3.6"
